.*
!.gitignore

# java

*.class
*.jar
*.war
*.ear

# intellij

*.iml
*.ipr
*.iws
.idea/

# eclipse

.classpath
.project
.settings/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# temporary
*.swp
*~
*.bak
*.orig
*.pid
*.DS_Store
classpath.txt
